@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    max-width: 420px;
    background: transparent ;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white ;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .Lembrar-esquecer{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.Lembrar-esquecer label input{
    accent-color: #fff ;
    margin-right: 3px;
    cursor: pointer;
}

.Lembrar-esquecer a{
    color: #fff;
    text-decoration: none;    
}

.Lembrar-esquecer a:hover{
    text-decoration: underline;
}

.container .btn{
    width: 100%;
    height: 45px;
    background-color: rgb(10, 7, 222);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.container .Cadastre{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.Cadastre p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.Cadastre p a:hover{
    text-decoration: underline;

}

@media (min-width: 320px) and (max-width: 480px){
    body{
        padding: 20px;
    }

    .container{
        padding: 20px;
        border-radius: 12px;
    }

    .container h1{
        font-size: 26px;
    }

    .container .input-box{
        height: 45px;
        margin: 20px 0;
    }

    .input-box input{
        font-size: 14px;
        padding: 15px 40px 15px 15px;
    }

    .input-box i{
        font-size: 18px;
        right: 15px;
    }

    .container .Lembrar-esquecer{
        gap: 10px;
        font-size: 13px;
        align-items: flex-start;
    }

    .container .btn{
        height: 42px;
        font-size: 15px;
    }

    .container .Cadastre{
        font-size: 13px;
    }
}
